<style>
body
background-color: aquamarine;
<style>
<link rel="stylesheet" href="css/estilos.css">

.ciencias
font-style:"Muthiara"
}
.index{
    font-family: 'Courier New', Courier, monospace;
}